{
    email your-email@example.com
}

# Production
generalbots.org, www.generalbots.org {
    root * /home/ubuntu/src/generalbots.org
    encode gzip

    @lang {
        path_regexp lang ^/(?:pt|es|fr|de|ja|zh-cn)(/.*)?$
    }
    rewrite @lang {re.lang.1}

    try_files {path} {path}/index.html /index.html
    file_server

    tls {
        protocols tls1.2 tls1.3
    }
    log {
        output file /var/log/caddy/access.log
        format json
    }
}

# Local dev
:8081 {
    root * /home/a404010/src/generalbots.org
    encode gzip

    @lang {
        path_regexp lang ^/(?:pt|es|fr|de|ja|zh-cn)(/.*)?$
    }
    rewrite @lang {re.lang.1}

    try_files {path} {path}/index.html /index.html
    file_server
}